.containerRequest{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    margin-top: 1em;
}
.contentFormRequest{
    width: 650px;
    margin-left: auto;
    margin-right: auto;
    
}
.formRequest{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.formRequest input,.formRequest select{
    border: 1px solid gray;
    padding: 10px;
    border-radius: .3em;
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    margin: .3em;
} 

.formRequest input::placeholder{
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
}
.formRequest input:focus{
    outline: none;
    border: 2px solid #007BAD;
    transition: border .2s;
}
.error{
    margin: 0;
    font-family: 'Mulish', sans-serif;
    font-size: 14px;
    color: #FF0000;
}
.buttonRequest{
    width: 110px;
    padding: 6px 12px;
    border-radius: 5px;
    font-family: 'Mulish', sans-serif;
    font-size: 1rem;
    font-weight: 400 !important;
    color: #FFFFFF;
    border: none;
    align-self: center;
    outline: none;
    background-color: #52C0F7;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}
.contentOperationsRequest{
   
    width: 400px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}
.withoutColor, .color, .headersTableRequest{
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    padding: 0.5em;
    margin: 0;
}
.headersTableRequest{
    background-color: #ffffff00;
    background-image: linear-gradient(180deg, #ffffff 0%, #c8f6ff 100%);
    
}
.color{
   background-color: #52C0F7; 
}
.withoutColor{
    background-color: #FFFFFF; 
}
.withoutColor li, .color li, .headersTableRequest li{
    width: 25%;
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    align-self: center;
}
.color li, .headersTableRequest li{
    color: #ffffff;
}
.headersTableRequest li{
    font-weight: 500 !important;
    font-weight: 500 !important;
    padding-top: 2em !important;
    padding-bottom: 2em !important;
    display: none;
}
 

@media screen and (max-width:760px){
    .contentOperationsRequest{
        width: 95%;
    }
}